button {
    font-size:16px;
    width:100px;
    margin:10px;
    color:white;
    padding:15px;
    border-Radius:30px;
    border-color: black;
    border-width: 5px;
}

.counterButton {
    background-color:#00a5ab;
}

.ResetButton {
    background-color:#824f8c;
}

.count {
    font-size:150px;
    padding:25px;
}